.container {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background-color:#E6E6FA; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    color: #070808
}

.about {
    background-color: #cacdcb
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

.work {
    background-color:  #cacdcb;
}