.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    background-color:#18443f; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(251, 248, 248);
    height: 300px;
    border-radius:10px;
    transition:ease;
    padding:10px;
    }

img.koala {
    justify-content: flex-end;
    align-items: flex-start;
}

a:unvisited {
    color: rgb(9, 9, 9);
  }

a:visited {
    color: rgb(12, 152, 91);
}

a:hover {
    color:#9814ac;
}

a:active {
    color:#cacdcb;
}

body {
    background-color: #0a1313;
}

.about {
    margin: 5px;
    border: 5px;
    padding: 10px;
    background-color: #cacdcb;
    border-radius:10px;
    transition:ease;
    box-shadow: inset 0px 0px 10px
    rgb(65, 188, 77), 
    0 0 15px 
    rgb(50, 225, 82);
}

.about-jabber {
    display:flex;
    flex-wrap:wrap;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

.work {
    background-color:  #cacdcb;
    margin: 5px;
    border: 5px;
    padding: 10px;
    background-color: #cacdcb;
    border-radius:10px;
    transition:ease;
    box-shadow: inset 0px 0px 10px
    rgb(65, 188, 77), 
    0 0 15px 
    rgb(50, 225, 82);
}

.work-jabber {
    display:flex;
    flex-wrap:wrap;
}

a.smiley {
    border-width: 20px;
    border-radius: 20px;
    transition: all.5s ease-in-out;
    position:relative;
    margin-top: -20px;
}

a.smiley:hover {
    
}